<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<p>Please input yore email and new password</p>
<form method="post" action="/change/password">

    <div class="alert alert-warn" th:if="${msg} != null" th:text="${msg}"></div> <p>
    <label>
        <input type="email" name="email" placeholder="example@gmai.com" required>
        <input type="password" name="newPassword" placeholder="New password" required>
    </label>
    <button type="submit">Change Password</button>

</form>
</body>
</html>